doctype html

html(lang="en")
    head
        script(src="/static/tablesort/tablesort.js")
        script(src="/static/tablesort/tablesort.number.js")
        link(href="/static/tablesort/tablesort.css" rel="stylesheet")
    body
        h1 Leaderboard
        
        table(id="sort" border="1")
            thead
                tr
                    th
                    th
                    th(colspan=3) All
                    th(colspan=3) Last Week
                tr
                    th(data-sort-method='none') Position
                    th Computer
                    th Selfplay games
                    th Match games
                    th(data-sort-default) Total games
                    th Selfplay games
                    th Match games
                    th Total games

            tbody
                each item, key in data
                    tr
                        td #{pos}
                        td #{key}
                        td #{item.games}
                        td #{item.match_games}
                        td #{item.total_games}
                        td #{item.games_recent}
                        td #{item.match_games_recent}
                        td #{item.total_games_recent}

        script.     
            const table = document.getElementById('sort');
            table.addEventListener('afterSort', function() {
                const body = table.tBodies[0];
                for(let i=0; i < body.rows.length; i++) {
                    const cell = body.rows[i].cells[0];
                    cell.innerHTML=i+1;
                }
            });
            new Tablesort(table, { descending: true });
